@import '../../../../theme/variables';

.TreeListItem {
  &_0 {
    margin-left: 0;
  }
  &_1 {
    margin-left: 20px;
  }
  &_2 {
    margin-left: 40px;
  }
  &_3 {
    margin-left: 60px;
  }
  &_4 {
    margin-left: 80px;
  }

  &_active {
    color: red;
  }
}

.TreeListItem__ErrorBox {
  color: red;
  border: 0;
}